
* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  position: relative;
  font-size: 13px;
}

.main-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.secondary {
  max-width: 320px;
  background-color: white;
  border-radius: 4.5%;
  padding: 15px;
  text-align: center;
}

.img-container {
  overflow: hidden;
}
.img-container img {
  border-radius: 3.5%;
  max-width: 100%;
}

.heading {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 8px;
}

h1 {
  font-size: 22px;
  line-height: 27px;
  color: black;
}

p{
  font-size: 16px;
  line-height: 20px;
  color: gray;
  margin-top: 16px;
  padding: 8px;
}


